
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./base/header";
@import "./base/nav";
@import "./base/main";
@import "./base/body";
@import "./base/footer";
@import "./base/mediaq";

/*EXTENDS*/ 
.degrade {
    background-image: linear-gradient(rgb(228, 58, 157) 20%, cyan);
    padding: 10px;
}
.segundodegrade{
    @extend .degrade;
    padding: 15px;

}
/*MIXINS*/
@mixin name($margen, $ancho) {
    margin: $margen;
    width: $ancho;
}

.logo {
    @include name(2%, 250px);
        
    }

