header {
        background-color: rgb(228, 58, 157);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .header-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content:space-around;
        h1 {
        padding: 20px;
        }
        h2 {
        padding: 5px;
        font-size: 35px;
        margin: 10px;
        font-style: oblique;
        font-variant: small-caps;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h3 {
        padding: 20px;
        }
        
    }
}
