/*TABLET*/ 
@media (min-width: 481px) and (max-width: 1023px) {
    main img {
        width: 200px;
        height: 200px;
        border: 1px solid white;
    }

    li {
        padding: 6px 20px;
        margin: 5px;
        display: inline;
        border-radius: 7px;
    }

    div {
        background-color: rgb(228, 58, 157);
        margin: 1px;
        padding: 15px;
        font-size: 15px;
    }

    .logo {
        margin: 2%;
        width: 200px;
    }

    footer {
        margin: 10px;
        padding: 15px;
        font-size: 15px;
    }

    footer img {
        width: 30px;
        height: 30px;
    }

    .footer-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}

/*MOBILE*/
@media (max-width:420px) {
    div {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(228, 58, 157);
        margin: 1px;
        padding: 15px;
        font-size: 15px;
        text-align: center;
    }
    main img {
        width: 150px;
        height: 150px;
        border: 1px solid white;
    }

    .logo {
        margin: 2%;
        width: 200px;
    }

    footer {
        grid-area: pie;
        background-color: black;
        color: azure;
        margin: 10px;
        padding: 15px;
        font-size: 15px;
        justify-content: center;
        align-items: center;}
        .footer-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        div {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(228, 58, 157);
        margin: 1px;
        padding: 15px;
        text-align: center;


        p {
            color: aliceblue;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

}